@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body{
    background: url('background.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#preloader{
    background:black url(loader.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.huh{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.start{
    font-size: 50px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    color: aqua;
}
.mclegends-link{
    font-size: 45px;
    font-family: 'Minecraft', sans-serif;
}
.discover1{
    font-size: 45px;
    font-family: 'Minecraft', sans-serif;  
    color: aqua;
}
.discover2{
    font-size: 45px;
    font-family: 'Minecraft', sans-serif;
    color: aqua;
}
.discover3{
    font-size: 25px;
    font-family: 'Minecraft', sans-serif;
    color: orangered;
}
.discover4{
    font-size: 25px;
    font-family: 'Minecraft', sans-serif;
    color: orangered;
}
.discover5{
    font-size: 25px;
    font-family: 'Minecraft', sans-serif;
    color: orangered;
}